.btn {
    border-radius: 4rem;
    padding: 1rem;
    text-transform: uppercase;
}
.btn-primary {
    background: rgb(255, 83, 13);
    border-color: rgb(255, 83, 13);
    &:hover {
        background: rgb(209, 68, 10);
        border-color: rgb(209, 68, 10);
    }
}