# OS 
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs and databases
*.log
*.sql
*.sqlite

# Editors
*.sublime-*
.idea

# Node JS
node_modules
bower_components
package-lock.json
assets/maps
assets/bibliotecas/normalize.css

# Compilados
*.map
/assets/maps
