.footer-contato {
    width: 100%;
    height: auto;
    display: table;
    position: relative;
    color: #fff;
    background: rgba(0, 0, 0, 1);
    .jumbotron {
        background: none;
    }
    &__formulario {
        max-width: 560px;
        height: auto;
        display: table;
        position: relative;
        margin: 0 auto;
    }
    &__titulo {
        font-size: 35px;
        @media screen and (min-width: 768px) {
            font-size: 50px;
            margin-bottom: 20px;
        }
    }
}